html {
  font-family: 'roboto';
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 1912px;
}

header, footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 12%;
  font-size: 18px;
}

footer {
  justify-content: center;
}

.logo, h1 {
  color: #F9FAF8;
  font-weight: 800;
}

.logo {
  font-size: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
}

li {
  list-style: none;
}

ul {
  display: flex;
  column-gap: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.banner {
  width: 100%;
  display: flex;
  column-gap: 60px;
}

.two {
  width: 100%;
  background-color: hsla(0, 0%, 45%, 1);
}
.button {
  padding: 5px 36px;
  border-radius: 8px;
  background-color: #3882F6;
  width: 60px;
  font-weight: 700;
  color: #E5E7EB;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  border: 3px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.squares {
  display: flex;
  justify-content: center;
  font-size: 16px;
  column-gap: 40px;
  text-align: center;
}

.sq-wrap {
  width: 150px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  width: 60%;
}

.author {
  font-size: 18px;
  align-self: flex-end;
  margin-right: 20%;
  font-weight: 900;
}