html {
  font-family: 'roboto';
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 1912px;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 100px;
  align-items: center;
  padding: 16px 12%;
  font-size: 18px;
}

header {
  flex: 6;
}

footer {
  justify-content: center;
  flex: 1;
}

.logo, h1 {
  color: #F9FAF8;
  font-weight: 800;
}

.logo {
  font-size: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
  margin: -30px 0 70px 0;
}

li {
  list-style: none;
}

ul {
  display: flex;
  column-gap: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.banner {
  width: 100%;
  display: flex;
  column-gap: 60px;
}

.two {
  width: 100%;
  background-color: hsla(0, 0%, 45%, 1);
}
.button {
  padding: 5px 36px;
  border-radius: 8px;
  background-color: #3882F6;
  width: 60px;
  height: 21px;
  cursor: pointer;
  font-weight: 700;
  color: #E5E7EB;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 6;
}

.square {
  border: 3px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.squares {
  display: flex;
  justify-content: center;
  font-size: 16px;
  column-gap: 40px;
  text-align: center;
}

.sq-wrap {
  width: 150px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 5;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  width: 60%;
}

.author {
  font-size: 18px;
  align-self: flex-end;
  margin-right: 20%;
  font-weight: 900;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
}

.sign-up-banner {
  background-color: #3882F6;
  padding: 50px 70px;
  display: flex;
  justify-content: space-between;
  column-gap: 120px;
  border-radius: 10px;
}

.border {
  border: 2px #F9FAF8 solid
}

.su-one {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 900;
}

.su-two {
  color: #E5E7EB;
  font-size: 14px;
  font-weight: 700;
}